<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [2]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [3]:
my_string1 = 'Bienvenido a'
my_string2 = "Conexion Quantica"
print(my_string1 + ' ' + my_string2)

Bienvenido a Conexion Quantica

An integer is a round number with no values after the decimal point.

In [4]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [5]:
my_int = 11567399
print(my_int)
print(type(my_int))

11567399
<class 'int'>

The built-in function int() can convert a string into an integer.

In [6]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [7]:
my_string = "11"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [8]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [9]:
my_string = "11"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [10]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [11]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [12]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [13]:
print("Addition ", 6794685 + 634348)
print("Subtraction ", 3287546 - 98741)
print("Multiplication ", 29875 * 3657987 )
print("Division ", 105562/44562)
print('exponent', 254 ** 3)

Addition  7429033
Subtraction  3188805
Multiplication  109282361625
Division  2.3688793142139044
exponent 16387064

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [14]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [15]:
print(2/4)
print(2.0/4.0)

0.5
0.5

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [16]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [17]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(my_list_es)

['Quantico', 'Conexion', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [18]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [19]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(len(my_list_es))
print(my_list_es[1])
print(my_list_es[len(my_list) -1])

5
Conexion
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [20]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [21]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
my_list_es[2] = 'Estudiante'
print(my_list_es)

['Quantico', 'Conexion', 'Estudiante', 2, 3]

A list can also be sliced with a colon:

In [22]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [23]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(my_list_es[2:4])

[1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [24]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [25]:
print(my_list_es[1:])

['Conexion', 1, 2, 3]

And all elements up to but excluding index 3:

In [26]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [27]:
print(my_list_es[:3])

['Quantico', 'Conexion', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [28]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [29]:
my_list_es = ['Hola', 'Quantico']
my_list_es.append('Hola')
print(my_list_es)

['Hola', 'Quantico', 'Hola']

In [30]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [31]:
my_list_es.remove('Hola')
print(my_list_es)

['Quantico', 'Hola']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [32]:
my_tuple = ('Welcome','to','QuantConnect')

In [33]:
my_tuple_es = ('Bienvenido','a','ConexionQuantica')

Just like a list, a tuple can be sliced by using index.

In [34]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [35]:
print(my_tuple_es[1:])

('a', 'ConexionQuantica')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [36]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'GOOG', 'AAPL', 'IBM', 'F'}

In [37]:
stock_list_es = ['MSFT','GOOG','IBM','TSL','IBM','FB','F','WTC']
stock_set_es = set(stock_list_es)
print(stock_set_es)

{'WTC', 'FB', 'GOOG', 'TSL', 'MSFT', 'IBM', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [38]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [39]:
my_dic_es = {'MSFT':'Microsoft', 'WTC':'WorldTradeCenter', 'TSL':'Tesla'}

In [40]:
print(my_dic['GOOG'])

Alphabet

In [41]:
print(my_dic_es['TSL'])

Tesla

After defining a dictionary, we can access any value by indicating its key in brackets.

In [42]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [43]:
my_dic_es['TSL'] = 'Tesla Incorporated'
print(my_dic_es['TSL'])

Tesla Incorporated

We can also change the value associated with a specified key:

In [44]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [45]:
print(my_dic_es.keys())

dict_keys(['MSFT', 'WTC', 'TSL'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [46]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [47]:
my_str_es = 'Bienvenido a ConexionQuantica'
print(my_str_es[8:])

do a ConexionQuantica

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [48]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [49]:
print(my_str_es.count('e'))
print(my_str_es.find('e'))
print(my_str_es.replace('a','e'))

3
2
Bienvenido e ConexionQuentice

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [50]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [51]:
Time_es = '2021-10-17 10:03:57'
splited_list_es = Time_es.split(' ')
date_es = splited_list_es[0]
time_es = splited_list_es[1]
print(date_es, time_es)
hour_es = time_es.split(':')[0]
print(hour_es)

2021-10-17 10:03:57
10

We can replace parts of a string by our variable. This is called string formatting.

In [52]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [53]:
my_time_es = 'Hour: {}, Minute:{}'.format('10','04')
print(my_time_es)

Hour: 10, Minute:04

Another way to format a string is to use the % symbol.

In [54]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [55]:
print('the ro number is %f'%8.56)
print('%s a %s'%('Bienvenido','ConexionQuantica'))

the ro number is 8.560000
Bienvenido a ConexionQuantica

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [56]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [57]:
print(5 == 5)
print(1 == 0)
print(17 != 0)
print(0 >= 5)
print(5 >= 0)

True
False
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [58]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [59]:
print(5 > 7 and 4 > 12)
print(7 > 18 and 8 < 0) 
print(1 > 4 or 1 < 45)
print(3 < 3 and 8 < 4)

False
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [60]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [61]:
print((12 > 2 or 2 < 12) and (2!=12 and 4>12) and not ( 12 < 2 or 2 < 12 and (2!=12 and 4>12)))
print(12 > 2 or 2 < 12 and (2!=12 and 4>12) and not ( 12 < 2 or 2 < 12 and (2!=12 and 4>12)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [62]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [63]:
i = 35
if (i > 0) and (i < 36):
    print('i is Integer')

i is Integer

As we mentioned above, we can write some complex statements here:

In [64]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [65]:
p = 2 > 0
q = 16 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [66]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [67]:
i = 0
while i < 50:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [68]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [69]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [70]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [72]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [73]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [74]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [75]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [76]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [77]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [78]:
print(product(25,3))
print(product(56,10))

75
560

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [79]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [80]:
def say_hi_in_spanish():
    print('Bienvenido a ConexionQuantica')
say_hi_in_spanish()

Bienvenido a ConexionQuantica

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [81]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [82]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [83]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [84]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [85]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [86]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [87]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [88]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [89]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [90]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [91]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [92]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [93]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [94]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [95]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [96]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [97]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [98]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [99]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [100]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [101]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [102]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [103]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [104]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [105]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [106]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [107]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [108]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [109]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [110]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [111]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [112]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [113]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [114]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [115]:
time_index = pd.date_range('2018-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')
2018-01-01    143.73
2018-01-02    145.83
2018-01-03    143.68
2018-01-04    144.02
2018-01-05    143.50
2018-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [116]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [117]:
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [119]:
s.index = time_index
print(s['2018-01-03'])

143.68

We can even access to a range of dates:

In [120]:
print(s['2018-01-02':'2018-01-05'])

2018-01-02    145.83
2018-01-03    143.68
2018-01-04    144.02
2018-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [121]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2018-01-01    143.73
2018-01-03    143.68
2018-01-05    143.50
2018-01-06    142.62
Name: Apple Price List, dtype: float64
[2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04     True
2018-01-05    False
2018-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [122]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 36.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=3b85f264dac0e31daf39ac4db9d033eefb1fca4478509e32eedf77ac044e42d5
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [123]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

To use quandl appropiately you may need your own API key, for that kind of resource, you have to get Quandl account.



We will create a Series named "msft" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [124]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
print(msft.info)

# get historical market data
msft_table = msft.history(start="2017-01-01",  end="2018-12-31")
msft_table

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as a strategic relationship with Avaya Holdings Corp. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Softwareâ€”Infrastructure', 'ebitdaMargins': 0.48080003, 'profitMargins': 0.36451998, 'grossMargins': 0.68926, 'operatingCashflow': 76740001792, 'revenueGrowth': 0.213, 'operatingMargins': 0.41595, 'ebitda': 80815996928, 'targetLowPrice': 280, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 41337249792, 'targetMedianPrice': 338, 'currentPrice': 308.29, 'earningsGrowth': 0.486, 'currentRatio': 2.08, 'returnOnAssets': 0.13761, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 337.77, 'debtToEquity': 57.947, 'returnOnEquity': 0.47079, 'targetHighPrice': 411, 'totalCash': 130256003072, 'totalDebt': 82277998592, 'totalRevenue': 168087994368, 'totalCashPerShare': 17.333, 'financialCurrency': 'USD', 'revenuePerShare': 22.272, 'quickRatio': 1.898, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 13.458, 'beta3Year': None, 'enterpriseToEbitda': 27.992, '52WeekChange': 0.4305458, 'morningStarRiskRating': None, 'forwardEps': 10.11, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7507899904, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 18.884, 'sharesShort': 47171313, 'sharesPercentSharesOut': 0.0063, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71783996, 'netIncomeToCommon': 61270999040, 'trailingEps': 8.05, 'lastDividendValue': 0.56, 'SandP52WeekChange': 0.313509, 'priceToBook': 16.32546, 'heldPercentInsiders': 0.0008, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.99, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 7506925463, 'beta': 0.802645, 'enterpriseValue': 2262174793728, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1629244800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.469, 'priceToSalesTrailing12Months': 13.77023, 'dateShortInterest': 1632960000, 'pegRatio': 2.21, 'ytdReturn': None, 'forwardPE': 30.493572, 'lastCapGain': None, 'shortPercentOfFloat': 0.0063, 'sharesShortPriorMonth': 45696881, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 307.41, 'regularMarketOpen': 307.17, 'twoHundredDayAverage': 275.35037, 'trailingAnnualDividendYield': 0.0072866855, 'payoutRatio': 0.272, 'volume24Hr': None, 'regularMarketDayHigh': 308.7431, 'navPrice': None, 'averageDailyVolume10Day': 21282687, 'regularMarketPreviousClose': 307.41, 'fiftyDayAverage': 296.89856, 'trailingAnnualDividendRate': 2.24, 'open': 307.17, 'toCurrency': None, 'averageVolume10days': 21282687, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 306.38, 'currency': 'USD', 'trailingPE': 38.296894, 'regularMarketVolume': 3320360, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2314610409472, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22568024, 'dayLow': 306.38, 'ask': 308.35, 'askSize': 1000, 'volume': 3320360, 'fiftyTwoWeekHigh': 309.7, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 308.45, 'tradeable': False, 'dividendYield': 0.0081, 'bidSize': 800, 'dayHigh': 308.7431, 'regularMarketPrice': 308.29, 'preMarketPrice': 307.39, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-03  58.487575  58.534148  57.872799  ...   20694100        0.0             0
2017-01-04  58.198817  58.450317  57.863484  ...   21340000        0.0             0
2017-01-05  57.928688  58.366484  57.779651  ...   24876000        0.0             0
2017-01-06  58.031153  58.822913  57.788970  ...   19922900        0.0             0
2017-01-09  58.459635  58.757712  58.254712  ...   20382700        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2018-12-21  98.455379  99.782587  94.415639  ...  111242100        0.0             0
2018-12-24  94.628771  94.909713  91.044351  ...   43935200        0.0             0
2018-12-26  92.168114  97.544752  91.024973  ...   51634800        0.0             0
2018-12-27  96.198168  98.029129  93.388754  ...   49498500        0.0             0
2018-12-28  98.901006  99.211018  96.411286  ...   38196300        0.0             0

[501 rows x 7 columns]

We will create a Series named "msft" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [125]:
msft = msft_table['Close']['2017']

In [126]:
print(msft)

Date
2017-01-03    58.291965
2017-01-04    58.031151
2017-01-05    58.031151
2017-01-06    58.534153
2017-01-09    58.347858
                ...
2017-12-22    81.429291
2017-12-26    81.324547
2017-12-27    81.619728
2017-12-28    81.629257
2017-12-29    81.457855
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [128]:
print(msft['2017-3'])

Date
2017-03-01    60.856995
2017-03-02    59.985455
2017-03-03    60.210365
2017-03-06    60.229111
2017-03-07    60.350945
2017-03-08    60.903835
2017-03-09    60.660187
2017-03-10    60.847622
2017-03-13    60.641441
2017-03-14    60.360317
2017-03-15    60.678921
2017-03-16    60.575848
2017-03-17    60.791386
2017-03-20    60.847622
2017-03-21    60.172882
2017-03-22    60.941315
2017-03-23    60.791386
2017-03-24    60.894474
2017-03-27    61.006916
2017-03-28    61.184986
2017-03-29    61.353664
2017-03-30    61.578575
2017-03-31    61.719131
Name: Close, dtype: float64

In [129]:
msft['2017-2':'2017-4']

Date
2017-02-01    59.223454
2017-02-02    58.841541
2017-02-03    59.316597
2017-02-06    59.279335
2017-02-07    59.083725
                ...
2017-04-24    63.284145
2017-04-25    63.649609
2017-04-26    63.565281
2017-04-27    63.977600
2017-04-28    64.155670
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [131]:
print(msft.head(5))
print(msft.tail(10))

Date
2017-01-03    58.291965
2017-01-04    58.031151
2017-01-05    58.031151
2017-01-06    58.534153
2017-01-09    58.347858
Name: Close, dtype: float64
Date
2017-12-15    82.705322
2017-12-18    82.257767
2017-12-19    81.734016
2017-12-20    81.438812
2017-12-21    81.419769
2017-12-22    81.429291
2017-12-26    81.324547
2017-12-27    81.619728
2017-12-28    81.629257
2017-12-29    81.457855
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [132]:
by_month = msft.resample('M').mean()
print(by_month)

Date
2017-01-31    58.862033
2017-02-28    59.912129
2017-03-31    60.764495
2017-04-30    62.011125
2017-05-31    64.769270
2017-06-30    66.463235
2017-07-31    67.869742
2017-08-31    68.837226
2017-09-30    70.442852
2017-10-31    73.849226
2017-11-30    79.531958
2017-12-31    80.713649
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [133]:
by_week = msft.resample('W').mean()
print(by_week.head())

Date
2017-01-08    58.222105
2017-01-15    58.452178
2017-01-22    58.233754
2017-01-29    59.653794
2017-02-05    59.653789
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [134]:
msft.resample('M').max()

Date
2017-01-31    61.272701
2017-02-28    60.557095
2017-03-31    61.719131
2017-04-30    64.155670
2017-05-31    66.361275
2017-06-30    68.349945
2017-07-31    69.952202
2017-08-31    70.846008
2017-09-30    71.480865
2017-10-31    79.487381
2017-11-30    80.829361
2017-12-31    82.705322
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [135]:
three_day = msft.resample('3D').mean()
two_week = msft.resample('2W').mean()
two_month = msft.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    58.118089
2017-01-06    58.534153
2017-01-09    58.512413
2017-01-12    58.361826
2017-01-15    58.245399
                ...
2017-12-17    81.995892
2017-12-20    81.429291
2017-12-23          NaN
2017-12-26    81.524511
2017-12-29    81.457855
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    58.222105
2017-01-22    58.355101
2017-02-05    59.653791
2017-02-19    59.893699
2017-03-05    60.340520
2017-03-19    60.603961
2017-04-02    61.049095
2017-04-16    61.375523
2017-04-30    62.583167
2017-05-14    64.636416
2017-05-28    64.637446
2017-06-11    67.186484
2017-06-25    66.268905
2017-07-09    65.162210
2017-07-23    68.254753
2017-08-06    68.840988
2017-08-20    68.658562
2017-09-03    69.371680
2017-09-17    70.543866
2017-10-01    70.390266
2017-10-15    71.929982
2017-10-29    74.708111
2017-11-12    79.563196
2017-11-26    79.180912
2017-12-10    79.288568
2017-12-24    81.556890
2018-01-07    81.507847
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    58.862033
2017-03-31    60.378901
2017-05-31    63.491105
2017-07-31    67.133000
2017-09-30    69.584029
2017-11-30    76.624514
2018-01-31    80.713649
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [136]:
std = msft.resample('W').std()
max = msft.resample('W').max()
min = msft.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.241648
2017-01-15    0.230378
2017-01-22    0.167734
2017-01-29    1.003976
2017-02-05    0.759347
2017-02-12    0.303812
2017-02-19    0.103210
2017-02-26    0.116639
2017-03-05    0.363522
2017-03-12    0.298676
2017-03-19    0.159802
2017-03-26    0.316104
2017-04-02    0.287973
2017-04-09    0.083560
2017-04-16    0.249512
2017-04-23    0.472040
2017-04-30    0.344536
2017-05-07    0.224034
2017-05-14    0.370704
2017-05-21    0.732873
2017-05-28    0.617621
2017-06-04    0.804942
2017-06-11    0.851836
2017-06-18    0.327092
2017-06-25    0.494141
2017-07-02    0.748338
2017-07-09    0.533771
2017-07-16    1.130451
2017-07-23    0.360907
2017-07-30    0.484601
2017-08-06    0.238201
2017-08-13    0.496508
2017-08-20    0.503767
2017-08-27    0.344475
2017-09-03    0.745475
2017-09-10    0.392911
2017-09-17    0.275641
2017-09-24    0.486362
2017-10-01    0.485940
2017-10-08    0.775657
2017-10-15    0.521709
2017-10-22    0.490036
2017-10-29    2.137311
2017-11-05    0.447513
2017-11-12    0.265846
2017-11-19    0.465102
2017-11-26    0.467460
2017-12-03    0.536437
2017-12-10    1.131429
2017-12-17    0.763660
2017-12-24    0.361449
2017-12-31    0.145323
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    58.534153
2017-01-15    58.860165
2017-01-22    58.441010
2017-01-29    61.272701
2017-02-05    60.667233
2017-02-12    59.670559
2017-02-19    60.557095
2017-02-26    60.557095
2017-03-05    60.856995
2017-03-12    60.903835
2017-03-19    60.791386
2017-03-26    60.941315
2017-04-02    61.719131
2017-04-09    61.597313
2017-04-16    61.409885
2017-04-23    62.225189
2017-04-30    64.155670
2017-05-07    65.045952
2017-05-14    64.952217
2017-05-21    65.418793
2017-05-28    65.937134
2017-06-04    67.633629
2017-06-11    68.349945
2017-06-18    66.587448
2017-06-25    67.115265
2017-07-02    66.474388
2017-07-09    65.465904
2017-07-16    68.594971
2017-07-23    69.952202
2017-07-30    69.923920
2017-08-06    68.519577
2017-08-13    68.604401
2017-08-20    69.784805
2017-08-27    69.320518
2017-09-03    70.846008
2017-09-10    70.438576
2017-09-17    71.357681
2017-09-24    71.480865
2017-10-01    70.580704
2017-10-08    72.011467
2017-10-15    73.423264
2017-10-22    74.673981
2017-10-29    79.411591
2017-11-05    79.724274
2017-11-12    80.122231
2017-11-19    79.639000
2017-11-26    79.724709
2017-12-03    80.829361
2017-12-10    80.143715
2017-12-17    82.705322
2017-12-24    82.257767
2017-12-31    81.629257
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    58.031151
2017-01-15    58.319908
2017-01-22    58.031151
2017-01-29    58.645931
2017-02-05    58.841541
2017-02-12    58.999889
2017-02-19    60.285336
2017-02-26    60.313442
2017-03-05    59.957336
2017-03-12    60.229111
2017-03-19    60.360317
2017-03-26    60.172882
2017-04-02    61.006916
2017-04-09    61.428623
2017-04-16    60.866352
2017-04-23    60.950687
2017-04-30    63.284145
2017-05-07    64.483665
2017-05-14    64.080696
2017-05-21    63.599766
2017-05-28    64.513977
2017-06-04    65.824059
2017-06-11    66.276451
2017-06-18    65.767502
2017-06-25    65.890030
2017-07-02    64.551682
2017-07-09    64.250076
2017-07-16    65.956017
2017-07-23    69.085091
2017-07-30    68.840050
2017-08-06    68.001244
2017-08-13    67.303787
2017-08-20    68.600403
2017-08-27    68.363518
2017-09-03    69.007828
2017-09-10    69.547913
2017-09-17    70.760750
2017-09-24    70.315399
2017-10-01    69.415276
2017-10-08    70.362770
2017-10-15    72.286255
2017-10-22    73.518021
2017-10-29    74.503448
2017-11-05    78.814659
2017-11-12    79.468445
2017-11-19    78.467690
2017-11-26    78.591492
2017-12-03    79.362854
2017-12-10    77.210693
2017-12-17    80.648415
2017-12-24    81.419769
2017-12-31    81.324547
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [140]:
last_day = msft.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    60.220119
2017-02-28    59.957336
2017-03-31    61.719131
2017-04-30    64.155670
2017-05-31    65.824059
2017-06-30    64.966385
2017-07-31    68.519577
2017-08-31    70.846008
2017-09-30    70.580704
2017-10-31    78.814659
2017-11-30    80.153229
2017-12-31    81.457855
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [137]:
monthly_return = msft.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.033078
2017-02-28    0.012392
2017-03-31    0.014167
2017-04-30    0.044394
2017-05-31    0.011962
2017-06-30   -0.016690
2017-07-31    0.066451
2017-08-31    0.035662
2017-09-30    0.007438
2017-10-31    0.114864
2017-11-30    0.016984
2017-12-31    0.015191
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [138]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.029657645740817206
0.03403441208062674
0.11486393514222182

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [141]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28   -0.262783
2017-03-31    1.761795
2017-04-30    2.436539
2017-05-31    1.668388
2017-06-30   -0.857674
2017-07-31    3.553192
2017-08-31    2.326431
2017-09-30   -0.265305
2017-10-31    8.233955
2017-11-30    1.338570
2017-12-31    1.304626
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016277
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [142]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016277
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [143]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31   -0.004364
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016277
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [144]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016277
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [145]:
import pandas as pd

dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [146]:
df = msft_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2018-12-21    95.161591
2018-12-24    91.189659
2018-12-26    97.418808
2018-12-27    98.019440
2018-12-28    97.254112
Name: Close, dtype: float64
Date
2018-12-21    111242100
2018-12-24     43935200
2018-12-26     51634800
2018-12-27     49498500
2018-12-28     38196300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [148]:
msft_2017 = df['2017']
msft_month = msft_2017.resample('M').agg(lambda x: x[-1])
print(msft_month)

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  60.415729  60.685859  59.856843  ...  25270500        0.0             0
2017-02-28  60.051051  60.163502  59.751168  ...  23239800        0.0             0
2017-03-31  61.522336  62.028385  61.334906  ...  21040300        0.0             0
2017-04-30  64.577381  64.792916  63.434086  ...  39548800        0.0             0
2017-05-31  66.474384  66.672308  65.795785  ...  30436400        0.0             0
2017-06-30  64.825009  65.390506  64.787308  ...  24161100        0.0             0
2017-07-31  69.085081  69.217030  68.246259  ...  23600100        0.0             0
2017-08-31  70.144846  71.026039  69.926921  ...  27652800        0.0             0
2017-09-30  70.059573  70.628083  70.002716  ...  17079100        0.0             0
2017-10-31  79.932732  79.932732  78.748333  ...  27086600        0.0             0
2017-11-30  79.524729  80.486525  79.362836  ...  33054600        0.0             0
2017-12-31  81.543557  81.943519  81.419763  ...  18717400        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [149]:
msft_bar = msft_month[['Open', 'High', 'Low', 'Close']]
print(msft_bar)

                 Open       High        Low      Close
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119
2017-02-28  60.051051  60.163502  59.751168  59.957336
2017-03-31  61.522336  62.028385  61.334906  61.719131
2017-04-30  64.577381  64.792916  63.434086  64.155670
2017-05-31  66.474384  66.672308  65.795785  65.824059
2017-06-30  64.825009  65.390506  64.787308  64.966385
2017-07-31  69.085081  69.217030  68.246259  68.519577
2017-08-31  70.144846  71.026039  69.926921  70.846008
2017-09-30  70.059573  70.628083  70.002716  70.580704
2017-10-31  79.932732  79.932732  78.748333  78.814659
2017-11-30  79.524729  80.486525  79.362836  80.153229
2017-12-31  81.543557  81.943519  81.419763  81.457855

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [151]:
print(msft_month.loc['2017-03':'2017-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-03-31  61.522336  62.028385  61.334906  61.719131
2017-04-30  64.577381  64.792916  63.434086  64.155670
2017-05-31  66.474384  66.672308  65.795785  65.824059
2017-06-30  64.825009  65.390506  64.787308  64.966385

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [152]:
import numpy as np

above = msft_bar[msft_bar.Close > np.mean(msft_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-08-31  70.144846  71.026039  69.926921  70.846008
2017-09-30  70.059573  70.628083  70.002716  70.580704
2017-10-31  79.932732  79.932732  78.748333  78.814659
2017-11-30  79.524729  80.486525  79.362836  80.153229
2017-12-31  81.543557  81.943519  81.419763  81.457855

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [153]:
msft_bar['rate_return'] = msft_bar.Close.pct_change()
print(msft_bar)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [154]:
missing = msft_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False        False
2017-03-31  False  False  False  False        False
2017-04-30  False  False  False  False        False
2017-05-31  False  False  False  False        False
2017-06-30  False  False  False  False        False
2017-07-31  False  False  False  False        False
2017-08-31  False  False  False  False        False
2017-09-30  False  False  False  False        False
2017-10-31  False  False  False  False        False
2017-11-30  False  False  False  False        False
2017-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [155]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [156]:
drop = msft_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = msft_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119     0.000000
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [157]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [158]:
log_price = np.log(msft_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([msft_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    4.098007
2017-02-28    4.093633
2017-03-31    4.122594
2017-04-30    4.161312
2017-05-31    4.186985
2017-06-30    4.173870
2017-07-31    4.227120
2017-08-31    4.260509
2017-09-30    4.256757
2017-10-31    4.367099
2017-11-30    4.383940
2017-12-31    4.400086
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN   4.098007
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364   4.093633
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384   4.122594
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478   4.161312
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005   4.186985
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030   4.173870
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693   4.227120
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953   4.260509
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745   4.256757
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660   4.367099
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984   4.383940
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277   4.400086

We can also join two DataFrames by rows. Consider these two DataFrames:

In [159]:
df_volume = msft_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = msft_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

              Volume  Stock Splits
Date
2017-01-31  25270500             0
2017-02-28  23239800             0
2017-03-31  21040300             0
2017-04-30  39548800             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119
2017-02-28  60.051051  60.163502  59.751168  59.957336
2017-03-31  61.522336  62.028385  61.334906  61.719131
2017-04-30  64.577381  64.792916  63.434086  64.155670

Now we merge the DataFrames with our DataFrame 'msft_bar'

In [160]:
concat = pd.concat([msft_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...      Volume  Stock Splits
Date                              ...
2017-01-31  60.415729  60.685859  ...  25270500.0           0.0
2017-02-28  60.051051  60.163502  ...  23239800.0           0.0
2017-03-31  61.522336  62.028385  ...  21040300.0           0.0
2017-04-30  64.577381  64.792916  ...  39548800.0           0.0
2017-05-31  66.474384  66.672308  ...         NaN           NaN
2017-06-30  64.825009  65.390506  ...         NaN           NaN
2017-07-31  69.085081  69.217030  ...         NaN           NaN
2017-08-31  70.144846  71.026039  ...         NaN           NaN
2017-09-30  70.059573  70.628083  ...         NaN           NaN
2017-10-31  79.932732  79.932732  ...         NaN           NaN
2017-11-30  79.524729  80.486525  ...         NaN           NaN
2017-12-31  81.543557  81.943519  ...         NaN           NaN

[12 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [161]:
concat = pd.concat([msft_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...    Volume  Stock Splits
Date                              ...
2017-01-31  60.415729  60.685859  ...  25270500             0
2017-02-28  60.051051  60.163502  ...  23239800             0
2017-03-31  61.522336  62.028385  ...  21040300             0
2017-04-30  64.577381  64.792916  ...  39548800             0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [162]:
append = msft_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336          NaN
2017-03-31  61.522336  62.028385  61.334906  61.719131          NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [163]:
concat = pd.concat([msft_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336          NaN
2017-03-31  61.522336  62.028385  61.334906  61.719131          NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [164]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([msft_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2017-01-31  60.415729  60.685859  59.856843  60.220119          NaN        NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364        NaN
2017-03-31  61.522336  62.028385  61.334906  61.719131     0.029384        NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478        NaN
2017-05-31  66.474384  66.672308  65.795785  65.824059     0.026005        NaN
2017-06-30  64.825009  65.390506  64.787308  64.966385    -0.013030        NaN
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693        NaN
2017-08-31  70.144846  71.026039  69.926921  70.846008     0.033953        NaN
2017-09-30  70.059573  70.628083  70.002716  70.580704    -0.003745        NaN
2017-10-31  79.932732  79.932732  78.748333  78.814659     0.116660        NaN
2017-11-30  79.524729  80.486525  79.362836  80.153229     0.016984        NaN
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016277        NaN
2017-01-31        NaN  60.685859  59.856843  60.220119          NaN  60.415729
2017-02-28        NaN  60.163502  59.751168  59.957336          NaN  60.051051
2017-03-31        NaN  62.028385  61.334906  61.719131          NaN  61.522336
2017-04-30        NaN  64.792916  63.434086  64.155670          NaN  64.577381

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.